<h2>Editing Answer for <strong><%= @question.question %></strong></h2>

<%= render 'form' %>

<%= link_to 'Show', test_question_answer_path(@test, @question, @answer) %> |
<%= link_to 'Back', test_question_path(@test, @question) %>
